@using E_Recruitment.Models
@model dynamic
@{
    ViewBag.Title = "ChangeSettings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content container-fluid">
    <div class="main-wrapper">
        <div class="account-page">
            <div class="container">
                <div class="card">
                    <div class="card-header text-center backgroundcolor">
                        <h4 class="title"><i>E-Recruitment Change Password </i></h4>
                    </div>
                    <div class="card-content">
                        <div class="account-box" style="width:1020px">
                            <div class="account-wrapper">
                                <div class="row">
                                    <div id="passwordresetfeedback" style="display: none" data-dismiss="alert"></div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">Enter Registered Email Address: <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" name="txtemailaddress" id="txtemailaddress" value="@Session["email"]">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group pass_show">
                                            <label class="control-label">Enter Old Password: <span class="text-danger">*</span></label>
                                            <input class="form-control" type="password" name="txtoldpassword" id="txtoldpassword" value="@Session["password"]">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group pass_show">
                                            <label class="control-label">Enter New Password: <span class="text-danger">*</span></label>
                                            <input type="password" class="form-control" name="txtnewpassword" id="txtnewpassword">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group pass_show">
                                            <label class="control-label">Confirm New Password: <span class="text-danger">*</span></label>
                                            <input class="form-control" type="password" name="txtconfirmnewpassword" id="txtconfirmnewpassword">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group text-center">
                                    <button class="btn btn-primary btn-block account-btn btn_passwordreset_Details backgroundcolor" id="btn_passwordreset_Details" name="btn_passwordreset_Details" type="submit">Reset Password</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
