@using E_Recruitment.Models
@model dynamic
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int jobsCounter = 0;
    var nav = NavConnection.ReturnNav();
    var today = DateTime.Today;
    int activePositionsCounter = nav.AdvertisedVacancies.Where(x => x.Document_Type == "Job Vacancy" && x.Vacancy_Status == "Published" && x.Approval_Status == "Released" && x.Application_Closing_Date >= today && x.Target_Candidate_Source != "Limited-Internal Staff" && x.Employment_Type != "Internship" && x.Employment_Type != "Attachment").ToList().Count();
    int closedPositionsCounter = nav.AdvertisedVacancies.Where(x => x.Document_Type == "Job Vacancy" && x.Vacancy_Status == "Closed" && x.Approval_Status == "Released" && x.Application_Closing_Date >= today && x.Target_Candidate_Source != "Limited-Internal Staff" && x.Employment_Type != "Internship" && x.Employment_Type != "Attachment").ToList().Count();
    int myApplications = nav.JobApplications.Where(x => x.Candidate_No ==Convert.ToString(Session["ApplicantNo"])).ToList().Count();
}
<div class="content container-fluid">
    <div class="row">
        <h3 class="page-title"><strong>Welcome,@Session["fullname"]</strong></h3>
        <div class="alert alert-warning alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>@Session["fullname"]!</strong>  Kindly ensure you complete your profile before applying for any Open Positions
        </div>
        <a href="/Home/OpenJobVacancies">
            <div class="col-lg-3 col-md-6 ">
                <div class="small-box bg-green">
                    <div class="dash-widget clearfix card-box small-box bg-green">
                        <span class="dash-widget-icon"><i class="fa fa-cubes" aria-hidden="true"></i></span>
                        <div class="dash-widget-info">
                            <h4>@activePositionsCounter</h4>
                            <p>Open Vacancies</p>
                        </div>
                    </div>
                    <a href="/Home/OpenJobVacancies" class="small-box-footer">
                        More info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
        </a>
        <a href="/Home/ExpiredJobVacancies">
            <div class="col-lg-3 col-md-6">
                <div class="small-box bg-blue">
                    <div class="dash-widget clearfix card-box small-box bg-blue" >
                        <span class="dash-widget-icon"><i class="fa fa-cubes" aria-hidden="true"></i></span>

                        <div class="dash-widget-secondary">
                            <h4>@closedPositionsCounter</h4>
                            <p>Closed Vacancies</p>
                        </div>
                    </div>
                    <a href="/Home/ExpiredJobVacancies" class="small-box-footer bg-blue">
                        More info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>

            </div>
        </a>

        <a href="/Home/ActiveJobApplications">
            <div class="col-lg-3 col-md-6">
                <div class="small-box bg-olive">
                    <div class="dash-widget clearfix card-box small-box bg-olive">
                        <span class="dash-widget-icon" style="background-color:antiquewhite"><i class="fa fa-cubes"></i></span>
                        <div class="dash-widget-info">
                            <h4>@myApplications</h4>
                            <p>Job Applications</p>
                        </div>
                    </div>
                    <a href="/Home/ActiveJobApplications" class="small-box-footer  bg-olive">
                        More info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
        </a>
        <a href="/Home/AnnouncementsList">
            <div class="col-lg-3 col-md-6">
                <div class="small-box bg-blue">
                    <div class="dash-widget clearfix card-box small-box bg-blue">
                        <span class="dash-widget-icon" style="background-color:antiquewhite"><i class="fa fa-user" aria-hidden="true"></i></span>
                        <div class="dash-widget-info">
                            <h4>0</h4>
                            <p>Announcements</p>
                        </div>
                    </div>
                    <a href="/Home/Announcements" class="small-box-footer">
                        More info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
        </a>
    </div>
    <hr />
    <div class="col-md-12">
        <div class="table-responsive">
            <table id="myAllAdvertisedVacancies" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Job Reference</th>
                        <th>Job Title/Designation</th>
                        <th>Employment Type</th>
                        <th>Application Deadline</th>
                        <th>View</th>
                        <th>Apply</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/assets/js/jquery-3.2.1.min.js"></script>
<script>
        $(document).ready(function () {
            var oTable = $('#myAllAdvertisedVacancies').DataTable({
                "ajax": {
                    "url": '/Home/GetAdvertisedJobVacancies',
                    "type" : "GET",
                    "datatype" : "json"
                },
                "columns": [
                    { "data": "Document_No", "autoWidth": true },
                    { "data": "Job_Title_Designation", "autoWidth": true },
                    { "data": "Employment_Type", "autoWidth": true },
                    { "data": "ApplicationClosingDateTime", "autoWidth": true },
                    {
                        "data": "Document_No", "width": "50px", "render": function (data) {
                            return '<a class="btn btn-success" href="/Home/ViewJobDetails?JobReferenceNumber=' + data + '"><i class="fa fa-eye m-r-10"></i>View</a>';
                        }
                    },
                    {
                        "data": "Document_No", "width": "50px", "render": function (data) {
                            return '<a class="btn btn-warning" href="/Home/ViewJobDetails?JobReferenceNumber=' + data + '"><i class="fa fa-share m-r-10"></i>Apply</a>';
                        }
                    }
                ]
            })
            $('.tablecontainer').on('click', 'a.popup', function (e) {
                e.preventDefault();
                OpenPopup($(this).attr('href'));
            })
            function OpenPopup(pageUrl) {
                var $pageContent = $('<div/>');
                $pageContent.load(pageUrl, function () {
                    $('#popupForm', $pageContent).removeData('validator');
                    $('#popupForm', $pageContent).removeData('unobtrusiveValidation');
                    $.validator.unobtrusive.parse('form');

                });

                $dialog = $('<div class="popupWindow" style="overflow:auto"></div>')
                          .html($pageContent)
                          .dialog({
                              draggable : false,
                              autoOpen : false,
                              resizable : false,
                              model : true,
                              title:'Popup Dialog',
                              height : 550,
                              width : 600,
                              close: function () {
                                  $dialog.dialog('destroy').remove();
                              }
                          })

                  $('.popupWindow').on('submit', '#popupForm', function (e) {
                    var url = $('#popupForm')[0].action;
                    $.ajax({
                        type : "POST",
                        url : url,
                        data: $('#popupForm').serialize(),
                        success: function (data) {
                            if (data.status) {
                                $dialog.dialog('close');
                                oTable.ajax.reload();
                            }
                        }
                    })

                    e.preventDefault();
                })
                $dialog.dialog('open');
            }
        })
</script>