@{
    Layout = null;
}
<div class="header">
    <div class="header-left">
        <a href="index.html" class="logo">
            <img src="~/assets/img/logo.png" width="60" height="60" alt="">
        </a>
    </div>
    <div class="page-title-box pull-left">
        <h3>Kenya Medical Research Institute(KEMRI)</h3>
    </div>
    <ul class="nav navbar-nav navbar-right user-menu pull-right">
        <li class="nav-item">
            <a class="nav-link" href="/Home/Login">Vacancies</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Home/HowtoApply">How to Apply</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Home/Login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Home/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Home/Help">Help</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Home/FAQs">FAQs</a>
        </li>
    </ul>
</div>

