
@{
    ViewBag.Title = "PracticingLicence";
}
<div class="col-sm-6">
    <div class="form-group">
        <label class="control-label">Issuer <span class="text-danger">*</span></label>
        <input class="form-control" type="text">
    </div>
</div>
<div class="col-sm-6">
    <div class="form-group">
        <label class="control-label">Category<span class="text-danger">*</span></label>
        <input class="form-control" type="text">
    </div>
</div>
<div class="col-sm-6">
    <div class="form-group">
        <label class="control-label">Issued On <span class="text-danger">*</span></label>
        <input class="form-control" type="text">
    </div>
</div>
<div class="col-sm-6">
    <div class="form-group">
        <label class="control-label">License Number<span class="text-danger">*</span></label>
        <input class="form-control" type="text">
    </div>
</div>
<div class="col-sm-6">
    <div class="form-group">
        <label class="control-label">Valid From <span class="text-danger">*</span></label>
        <input class="form-control" type="text">
    </div>
</div>
<div class="col-sm-6">
    <div class="form-group">
        <label class="control-label">Valid To <span class="text-danger">*</span></label>
        <input class="form-control" type="text">
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-md-6 col-lg-6">
            <a href="/Home/index" class="btn btn-danger">
                Cancel
            </a>
        </div>
        <div class="col-md-6 col-lg-6">
            <button class="btn btn-primary pull-right ladda-button btn_supplierregister" id="btn_supplierregister" name="btn_supplierregister" type="submit" data-style="slide-right" data-background-color="darkgreen">
                <span class="ladda-label">
                    Save and Continue
                </span>
            </button>
        </div>

    </div>
</div>



